<footer id="site_footer_wrap">
  <div id="site_footer" role="navigation" aria-label="Footer Navigation">
    <div class="banner_ad pub_300x250 pub_300x250m pub_728x90 text-ad textAd text_ad text_ads text-ads text-ad-links">
    </div>
    <ul id="site_footer_list">
      <li>
        <h5>About us</h5>
        <ul>
          <li>
            <a href="/about">
              About Us</a>
          </li>
          <li>
            <a href="https://blog.mediabuy.com/en/">
              Blog</a>
          </li>
          <li>
            <a href="/app">
              App</a>
          </li>
          <li>
            <a href="/careers">
              Careers</a>
          </li>
          <li>
            <a href="/developers">
              API</a>
          </li>
          <li>
            <a href="https://blog.mediabuy.com/en/tag/engineering-en/">
              Change Log</a>
          </li>
        </ul>
      </li>
      <li>
        <h5>Help Is Here</h5>
        <ul>
          <li>
            <a href="https://support.mediabuy.com">
              Help &amp; Support</a>
          </li>
          <li>
            <a href="/forum/">
              Forum</a>
          </li>
          <li>
            <a class="show_keyboard_shortcuts" href="#show_keyboard_shortcuts">
              Keyboard Shortcuts </a>
          </li>
          <li>
            <a
              href="https://support.mediabuy.com/hc/articles/360004016474-Overview-of-Submission-Guidelines-for-Releases">Database
              Guidelines</a>
          </li>
          <li>
            <a href="/shipping">Mediabuy Shipping</a>
          </li>
        </ul>
      </li>
      <li>
        <h5>Join In</h5>
        <ul>
          <li>
            <a href="/getstarted/">
              Get Started</a>
          </li>
          <li>
            <a href="/users/create">
              Sign Up</a>
          </li>
          <li>
            <a href="/release/add">
              Add Release</a>
          </li>
          <li>
            <a href="/stats/contributors">
              Contributor List</a>
          </li>
          <li>
            <a href="/events">
              Mediabuy Events </a>
          </li>
          <li>
            <a href="https://campaigns.mediabuy.com">
              Advertise With Us</a>
          </li>
        </ul>
      </li>
      <li>
        <h5>Follow Us</h5>
        <ul>
          <li>
            <a href="https://www.facebook.com/mediabuy">
              <i class="icon icon-facebook-square"></i>Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com/mediabuy">
              <i class="icon icon-twitter"></i>Twitter
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/mediabuy/">
              <i class="icon icon-instagram"></i>Instagram
            </a>
          </li>
          <li>
            <a href="http://www.mixcloud.com/mediabuy/">
              <i class="icon icon-mixcloud"></i>Mixcloud
            </a>
          </li>
          <li>
            <a href="https://soundcloud.com/mediabuy">
              <i class="icon icon-soundcloud"></i>Soundcloud
            </a>
          </li>
          <li>
            <a href="https://nl.pinterest.com/officialdiscogs/boards/">
              <i class="icon icon-pinterest"></i>Pinterest
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="site_footer_legal">
    <span id="copyright">
      © 2021 mediabuy®
    </span>
    <button id="ot-sdk-btn" class="ot-sdk-show-settings">Manage Preferences</button>
    <a id="cookie_link" href="/help/doc/cookie-policy">Cookie Policy</a>
    <a id="terms_link" href="/help/doc/terms-of-service">Terms of Service</a>
    <a id="privacy_link" href="/help/doc/privacy-policy">Privacy Policy</a>
    <span id="language_container">
      <a id="i18n_link" href="#select-language" data-code="en" data-name="English">
        <i class="icon icon-globe"></i>
        English
        <i class="icon icon-caret-down"></i>
      </a>
      <select id="i18n_select">
        <option id="language_de_field" name="language_code" class="language" value="de"> Deutsch </option>
        <option id="language_en_field" name="language_code" class="language" value="en" selected=""> English
        </option>
        <option id="language_es_field" name="language_code" class="language" value="es"> Español </option>
        <option id="language_fr_field" name="language_code" class="language" value="fr"> Français </option>
        <option id="language_it_field" name="language_code" class="language" value="it"> Italiano </option>
        <option id="language_ja_field" name="language_code" class="language" value="ja"> 日本語 </option>
        <option id="language_ko_field" name="language_code" class="language" value="ko"> 한국어 </option>
        <option id="language_pt_BR_field" name="language_code" class="language" value="pt_BR"> Português (Brasil)
        </option>
        <option id="language_ru_field" name="language_code" class="language" value="ru"> Русский </option>
      </select>
    </span><a id="footer_menu_link">
      <i class="icon icon-chevron-down"></i>
      <i class="icon icon-chevron-up"></i>
    </a>
  </div>
  </div>
</footer>
