<header>
  <nav>
    <div class="topbar">
      <div class="site-home">
        <a href="http://localhost:8080/">
          <i class="fas fa-compact-disc"></i>
          <span id="site-name"> Media Buy & Sell</span>
        </a>
      </div>
      <div class="login-logout">
        <% if (user_id) { %>
        <form method="POST" action="/logout">
          <label> Logged in as: <%= user_id %> </label>
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <form method="POST" action="/login/user">
          <button type="submit">User Login</button>
        </form>
        <form method="POST" action="/login/admin">
          <button type="submit">Admin Login</button>
        </form>
        <% }  %>
      </div>
    </div>
    <div class="bottom-nav">
      <section class="left-nav">
        <a href="/listings"> Shop All Products</a>
        <!-- <a href="/"> Featured</a> -->
        <!-- <a href=#> My Listings </a> -->
      </section>
      <section class="right-nav">
        <% if (user_id === "admin") { %>
        <a href="/newlisting">
          <i class="far fa-plus-square"></i>
          Create Listing
        </a>
        <a href="/favorites">
          <i class="fas fa-heart"></i>
          Favourites
        </a>
        <a href="/messages">
          <i class="fas fa-comments"></i>
          Messages
        </a>
        <% } else if (user_id) {%>
        <a href="/favorites">
          <i class="fas fa-heart"></i>
          Favourites
        </a>
        <a href="/messages">
          <i class="fas fa-comments"></i>
          Messages
        </a>
        <% }  %>
      </section>
    </div>
  </nav>
</header>
