<header>
  <div class="navbar">
    <a href="http://localhost:8080/">
      <i class="fas fa-compact-disc"></i>
      <span> Media Buy & Sell</span>
    </a>
  </div>
  <form method="GET" action="/login/:userID">
    <button type="submit">Login</button>
  </form>
  <nav>
    <section class="left-nav">
      <a href=#> Shop</a>
      <a href=#> Featured</a>
      <a href=#> My Listings </a>
    </section>
    <section class="right-nav">
      <a href=#> Favourites</a>
      <a href=#> Messages</a>
      <a href=#> Create Listing</a>
    </section>
  </nav>
</header>
