<header>
  <nav>
    <div class="topbar">
      <div class="site-home">
        <a href="http://localhost:8080/">
          <i class="fas fa-compact-disc"></i>
          <span id="site-name"> Media Buy & Sell</span>
        </a>
      </div>
    <% if (user_id) { %>
      <div class="login-logout">
      <form method="POST" action="/logout" >
        <label> Logged in as: <%= user_id %> </label>
        <button type="submit">Logout</button>
      </form>
    <% } else { %>
      <form method="POST" action="/login/user" >
        <button type="submit">User Login</button>
      </form>
      <form method="POST" action="/login/admin" >
        <button type="submit">Admin Login</button>
      </form>
    <% }  %>
      </div>
    </div>
    <div class="bottom-nav">
      <section class="left-nav">
        <a href="/listings"> Shop</a>
        <a href="/"> Featured</a>
        <!-- <a href=#> My Listings </a> -->
      </section>
      <section class="right-nav">
        <a href="/favorites"> Favourites</a>
        <a href="/messages"> Messages</a>
        <a href="/listings/:listingid"> Create Listing</a>
      </section>
    </div>
  </nav>
</header>
