<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Error: Resource not found</title>
    <%- include('partials/_head') %>
    <!-- <script src="https://unpkg.com/moment"></script> -->
    <!-- <script src="javascript/libraries/moment.js"></script> -->
    <!-- <script>
      const datePosted = moment(listing[0]['created_at']).fromNow();

    </script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
      integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
      crossorigin="anonymous">
    </script> -->
  </head>

  <body>
    <h1>Error: Resource not found</h1>
    <p>Whatever you're looking for has been either moved or deleted.</p>
    <p><a href="../">Go home</a></p>
  </body>

</html>
