<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Media Buy & Sell - Listing</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1>This is a page with specific listing info</h1>
  </body>
</html>
