// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }

  h3 {
    font-family: "Karla", sans-serif;
  }
}
