// See: https://sass-lang.com/

nav {
  // display: none;
  // flex-direction: column;
  width: 100%;
  height: 20vh;
  font-family: "Oswald", sans-serif;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  // border: black solid 5px;

  a {
    font-size: 2em;
    color: white;
  }
  .topbar {
    flex-direction: row ;
    justify-content: space-between;
    background-color: #3aafa9;
    // border: solid blueviolet 5px;
  }

  .site-home {
    // border: blue solid 5px;
  }

  .login-logout {
    // border: red solid 5px;
  }

  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #90d8d4;
    // border: solid orange 5px;
  }

  .left-nav {
    // border: solid red 5px;
  }

  .right-nav {
    // border: solid pink 5px;
  }
}

body {
  background-color: #EEE;
  padding-top: 20vh;
  // display: flex;
  // justify-content: center;

  h1 {
    color: #244751;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }

  h3 {
    font-family: "Karla", sans-serif;
  }
}

// Listings Styling
.listing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border: grey solid 5px;
  border-radius: 20px;
}

// Messages Styling
#chat {
  border: green solid 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  #message-container {
    width: 80%;
    max-width: 1200px;
    border: red solid 5px;
  }

  #message-container div {
    background-color: #CCC;
    padding: 5px;

  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    // position: fixed;
    // padding-bottom: 30px;
    // bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
    border: blue solid 5px;
  }

  #message-input {
    flex-grow: 1;
    height: 2em;
  }


}

