// See: https://sass-lang.com/

button {
  font-family: "Karla", sans-serif;
  background-color: #90d8d4;
  border-radius: 2px;
  padding: 0.5em 0.75em;
  border: none;
  margin: 3px;
  color: white;
}

nav {
  // display: none;
  // flex-direction: column;
  width: 100%;
  // height: 20vh;
  font-family: "Oswald", sans-serif;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  // border: black solid 5px;

  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3aafa9;
    padding: 10px;
    // height: 10vh;
    // border: solid blueviolet 5px;
  }

  .site-home {
    // border: black solid 5px;
    font-size: 1.5em;
  }

  #site-name {
    // border: blue solid 5px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }

  a {
    font-size: 1.5em;
    font-family: "Karla", sans-serif;
    color: white;
    font-weight: 200;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
  }

  .login-logout {
    // border: red solid 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    font-family: "Karla", sans-serif;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    padding: 0.5em 1em;
  }

  button:hover {
    background-color: cadetblue;
  }

  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #90d8d4;
    padding: 5px;
    // border: solid orange 5px;
  }

  .left-nav {
    // border: solid red 5px;
  }

  .right-nav {
    // border: solid pink 5px;
  }
}



body {
  background-color: #EEE;
  padding-top: 15vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  place-items: center;

  h1 {
    color: #244751;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }

  h3 {
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: flex-start;
  }

  // Listings Styling

  .price-filter {
    display: flex;
    align-items: center;
    font-family: "Karla", sans-serif;

    img {
      object-fit: cover;
      width: 80%;
      height: auto;
      cursor: pointer;
      place-items: center;
    }

    textarea {
      margin: 10px;
      border-radius: 3px;
      border: none;
    }

    button {
      background-color: #90d8d4;
      border-radius: 2px;
      padding: 0.5em 0.75em;
      border: none;
      margin: 3px;
      color: white;
    }
  }

  .listing-container {
    display: grid;
    grid-template-columns: 85% 15%;
    width: 90%;
    place-items: center;
    border: #c0c0c0 solid 1px;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px #8d92bb;
    grid-gap: 1em;

    .img-container {
      div.img-container {
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 15%;
        margin: 5px 0 5px 7px;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .listing-container .img-container {
        grid-column: 1/2;
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 15%;
        margin: 5px 0 5px 7px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .img-container img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      cursor: pointer;
      align-items: center;
      margin-left: auto;
    }

    img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      cursor: pointer;
      align-items: center;
      margin-left: auto;
    }

    img:hover {
      background: #e1f5ff;
    }

    section {
      display: grid;
      width: 100%;
      grid-template-columns: 50% 50%;
      place-items: center;
    }

    .action-buttons {
      grid-column: 1/4;
      display: flex;
      flex-direction: row;
      padding: 10px;
    }

    button {
      font-family: "Karla", sans-serif;
      background-color: #90d8d4;
      border-radius: 2px;
      padding: 0.5em 0.75em;
      border: none;
      margin: 3px;
      color: white;
    }

    p {
      display: flex;
      place-items: center;
    }
  }


  div.right-side {
    grid-column: 2/2;
  }


  .featured-container {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-auto-rows: minmax(100px, auto);
  }

  .featured-item {}

  .featured-container img {
    width: 300px;
    height: 300px;
    align-items: center;
    place-items: center;
  }



  .fave {
    background: red;
    cursor: pointer
  }

  .fave .active {
    background: green;
  }

  // Favourites Styling

  .favorites-container {
    display: grid;
    grid-template-columns: 85% 15%;
    width: 80%;
    border: grey solid 3px;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
    box-shadow: 5px 5px #8d92bb;
  }

  .img-container {
    grid-column: 1/2;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15%;
    margin: 5px 0 5px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Messages Styling
#chat {
  // border: green solid 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  margin-top: 20px;

  h1 {
    // border: black 2px solid;
  }

  .messages-window {
    // border: orange solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }

  .messaging {
    // border: salmon solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
  }

  #message-container {
    width: 80%;
    max-width: 1200px;
    // border: red solid 5px;
  }

  #message-container div {
    background-color: #CCC;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;

  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    // position: fixed;
    // padding-bottom: 30px;
    // bottom: 0;
    // background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
    // border: blue solid 5px;
    // position: absolute;
    padding: 5px;

  }

  #message-input {
    flex-grow: 1;
    height: 2em;
    padding: 5px;
  }
}

// New Listings Styling

#new-listing-page {
  display: flex;
  justify-content: center;

  .new-listing-form {
    border-radius: 20px;
    margin: 15px;
    box-shadow: 5px 5px #8d92bb;
    padding: 30px;
    width: 80%;



    #tabs a:hover {
      color: #90d8d4;
      background: #90d8d4;
      width: 100%;
      height: 30px;
      border-bottom: solid 1px #CCC;
      padding-right: 2px;
    }

    a {
      cursor: pointer;
    }

    #tabs li {
      float: left;
      list-style: none;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      margin-right: 5px;
      background-color: #90d8d4;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      outline: none;
    }

    #tabs li a {
      font-weight: bold;
      color: #5685bc;
      padding-top: 5px;
      padding-left: 7px;
      padding-right: 7px;
      padding-bottom: 8px;
      display: block;
      background: rgb(117, 186, 209);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      outline: none;
    }

    #tabs li a.inactive {
      padding-top: 5px;
      padding-bottom: 8px;
      padding-left: 8px;
      padding-right: 8px;
      color: #666666;
      background: #EEE;
      outline: none;
      border-bottom: solid 1px #CCC;
    }

    #tabs li a:hover,
    #tabs li a.inactive:hover {
      color: rgb(5, 184, 184);
      outline: none;
    }

    .container {
      clear: both;
      width: 100%;
      text-align: left;
      padding: 20px;
      height: 100%;
    }

    .container h2 {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 10px;
      color: #5685bc;
    }



    .container ul {
      margin-left: 25px;
      line-height: 1.4;
      list-style-type: disc;
    }

    .container li {
      padding-bottom: 5px;
      margin-left: 5px;
    }

    .container.inactive {
      background-color: black;
      display: none;
    }

    .container.active {
      background-color: black;
      display: none;
    }



    textarea {
      margin: 10px;
      border-radius: 3px;
      border: none;
      width: 90%;
      display: block;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      padding: 10px 0;
      border-bottom: solid 1px #90d8d4;
      -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #90d8d4 4%);
      background-position: -200px 0;
      background-size: 200px 100%;
      background-repeat: no-repeat;
      color: #90d8d4;

      .textbox:focus::-webkit-input-placeholder,
      .textbox:valid::-webkit-input-placeholder {
        color: #3aafa9;
        font-size: 11px;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        visibility: visible
      }
    }

    button {
      font-family: "Karla", sans-serif;
      background-color: #90d8d4;
      border-radius: 2px;
      padding: 0.5em 0.75em;
      border: none;
      margin-top: 30px;
      margin-bottom: 20px;
      color: white;

    }

    .file {
      position: relative;
    }

    .file>input[type='file'] {
      display: none
    }

    .file>label {
      cursor: pointer;
      outline: 0;
      user-select: none;
      color: rgb(117, 186, 209);
    }


    .file>label:active {
      background-color: lightblue;
    }

    .file>label>i {
      padding-right: 5px;
    }

    .file--upload>label:hover {
      border-color: hsl(204, 86%, 53%);
      background-color: hsl(204, 86%, 96%);
    }

  }
}


footer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#site_footer_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

// Listing ID page

#listing-id-page {
  display: flex;
  flex-direction: row;
  justify-content: center;

  p {
    font-family: "Karla", sans-serif;
    font-size: larger;
  }

  img {
    margin-top: 20px;
    width: 540px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .listing-info {
    width: 60%;
    padding: 5em;
  }

  button {
    margin-bottom: 10px;
  }
}
